name = "dubbing-worker"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[[d1_databases]]
binding = "DB"
database_name = "dubbing-db"
database_id = "af814a17-2bf8-46f7-a73a-7a52c4830822"

[vars]
CORS_ORIGIN = "https://dubbing-page.lslly.com"
